{% if conceptGroups|length %}
    <select>

        {% if pid == 0 %}
            <option value="">- {{ 'strings.select_category'|trans }} -</option>
        {% else %}
            <option value="">- {{ 'strings.select_sub_category'|trans }} -</option>
        {% endif %}

        {% for conceptGroup in conceptGroups %}
            <option value="{{ conceptGroup.id }}">{{ conceptGroup.name }}</option>
        {% endfor %}

    </select>
{% endif %}
