{% extends "WBQbankBundle::base-front.html.twig" %}

{% block body %}
<div class="container index-container">
    <div class="row">
        <div class="col-xs-12">
        {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>

{% endblock body %}
